{% extends "templateL.html" %}
{% block content %}
<h2 class="text-white">GRAFO</h2>
<div class="booking-form-body">

        
        
    <div class="row" style="margin: 20px;">
        <div class="card" style="padding: 20px;">
            <div class="card-header">
                <h5>Agregar adyacencias</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Mensajes Flash -->
                    {% with messages = get_flashed_messages(category_filter='error', with_categories=true) %}
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for category, message in messages %}
                                    <p class="text-dark">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form id="form" class="row" action="/negocios/crear_ady" method="post" role="form">
                        <div class="col-lg-6 col-12">
                            <span>Origen:</span>
                            <select id="origen"  class="form-control" name="origen">
                                {% for item in lista %}
                                    <option value="{{item.id}}">{{item.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6 col-12">
                            <span>Destino:</span>
                            <select id="destino"  class="form-control" name="destino">
                                {% for item in lista %}
                                    <option value="{{item.id}}">{{item.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12" style="margin-top: 20px;">
                                <button id="boton" type="submit" class="btn btn-success">Agregar</button>
                            </div>
                            <div class="col-lg-6 col-12"  style="margin-top: 20px;">
                                <a href="/negocios/reiniciar" class="btn btn-danger">Reiniciar Grafo</a>
                            </div>
                            <div class="col-lg-6 col-12"  style="margin-top: 20px;">
                                <a href="/negocios" class="btn btn-success">Volver</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <table id="tabla" class="table text-white " cellpadding="10" style="margin-left: 1%;">
        <thead>
            <th  width="150">-----</th>
            {% for item in lista%}
            <th>{{item.nombre}}</th>
        
            {% endfor %}
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td>{{item.nombre}}</td>
                    {% for adys in matris[loop.index0] %}
                        <td>{{ adys }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}