{% extends "templateL.html" %}
{% block content %}
<script>
    $(document).ready(function(){
        $("#link").click(function(){
            create();
        });

        $("#busqueda").change(function(){
            elegir_busqueda();
        });

        $("#busca").click(function(){
            buscar();
        });
    });

    function tabla(url){
        $.ajax({
            method: "GET",
            url: url,
            contentType: 'json',
            success: function(data){
                if(data.code == '200'){
                    var html = '';
                    $.each(data.data, function(i, info){
                        html+="<tr>";
                        html+= "<td>"+(i+1)+"</td>";
                        html+= "<td>"+info.paralelo+"</td>";
                        html+= "<td>"+info.idEstudiante+"</td>";
                        html+= "<td>"+info.asignacion+"</td>";
                        html+= "<td>"+info.periodoAcademico+"</td>";
                        html+= "<td>"+'<a href="/cursas/editar/'+info.id+'" class="btn btn-primary btn-sm">Modificar</a>'+"</td>";
                        html+= "<td>"+'<a href="/docentes/eliminar/'+info.id+'" class="btn btn-danger btn-sm">Eliminar</a>'+"</td>";
                        html+="</tr>";
                    });
                    $("#tabla tbody").html(html);
                } else {
                    html += "<tr><td colspan='7'>No se encontraron datos</td></tr>";
                    $("#tabla tbody").html(html);
                }
            }
        });
    }

    function create(){
        var aux = $("#tipo").prop("checked");
        var select = $("#criterio").find(":selected").val();
        if(aux){
            tabla("http://localhost:5000/home/cursa/2/"+select+"/"+ 4);  //cambiar siempre
            //$("#link").attr("href", "/servidores/2/_nombre");
        }else{
            tabla("http://localhost:5000/home/cursa/1/"+select+"/"+ 4); //cambiar siempre
            //$("#link").attr("href", "/servidores/1/_nombre");
        }
    }

    function buscar(){
        
        var atributo = $("#criterio").find(":selected").val();
        //var metodo = "2"
        var valor = $("#valor").val();
        //if(metodo == 1){
        
        tabla("http://localhost:5000/home/cursa/busqueda/"+valor+"/"+atributo); //cambiar
        //}else{
            //tabla("http://localhost:5000/lista/busqueda/2/"+valor+"/"+atributo); //cambiar
        //}
    }

    function elegir_busqueda(){
        var metodo = $("#busqueda").find(":selected").val();
        if(metodo == 1){
            $("#criterio").html('<option value="_nombre">Nombre</option><option value="_apellido">Apellido</option>');
        } else {
            $("#criterio").html('<option value="_cedula">Cedula</option>');
        }
    }
</script>
<h2 class="text-white">Lista de negocios</h2>
<div class="card mb-2">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="criterio">Criterio:</label>
                <select id="criterio" class="custom-select ml-2">
                    <option value="_paralelo">Nombre</option>
                    <option value="_paralelo">Direccion</option>
                    <option value="_paralelo">Horario</option>
                </select>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input" id="tipo">
                    <label class="custom-control-label" for="tipo">DESCENDENTE</label>
                </div>
                <button class="btn btn-info" id="link" style="margin-left: 10%;">ORDENAR</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="valor">Texto:</label>
                <input type="text" id="valor" class="form-control" placeholder="Ingrese el valor a buscar">
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button class="btn btn-info ml-3" id="busca">BUSCAR</button>
            </div>
        </div>
    </div>
</div>

<div class="booking-form-body">
    <a href="/negocios/agregar" class="btn btn-primary">AGREGAR</a>
    <a href="/negocios/grafo_negocio"  target="_blank"   class="btn btn-info">VER GRAFO</a>
    <a href="/negocios/grafo_ver_admin" class="btn btn-info">Administrar grafo</a>
    <table id="tabla" class="table text-white">
        <thead>
            <th>Nro</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Horario</th>
            <th>Longitud</th>
            <th>Latitud</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.direccion}}</td>
                    <td>{{item.horario}}</td>
                    <td>{{item.longitud}}</td>
                    <td>{{item.latitud}}</td>
                    <td><a href="/negocios/editar/{{item.id}}" class="btn btn-info">Modificar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}